--
-- PostgreSQL database dump
--

\restrict aPS6uX4oEViH8RJrOisa7yJ8qGnVrMGnW2NFz6LrI4fc3e6NptsXRXoWO7mzRM0

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_notifications; Type: TABLE; Schema: public; Owner: afkzone
--

CREATE TABLE public.admin_notifications (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    type character varying(50) NOT NULL,
    target character varying(50) DEFAULT 'all'::character varying,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    expires_at timestamp without time zone,
    created_by character varying(100)
);


ALTER TABLE public.admin_notifications OWNER TO afkzone;

--
-- Name: admin_notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: afkzone
--

CREATE SEQUENCE public.admin_notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.admin_notifications_id_seq OWNER TO afkzone;

--
-- Name: admin_notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: afkzone
--

ALTER SEQUENCE public.admin_notifications_id_seq OWNED BY public.admin_notifications.id;


--
-- Name: admin_users; Type: TABLE; Schema: public; Owner: afkzone
--

CREATE TABLE public.admin_users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    password_hash character varying(200) NOT NULL,
    email character varying(100),
    role character varying(20) DEFAULT 'admin'::character varying,
    last_login timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.admin_users OWNER TO afkzone;

--
-- Name: admin_users_id_seq; Type: SEQUENCE; Schema: public; Owner: afkzone
--

CREATE SEQUENCE public.admin_users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.admin_users_id_seq OWNER TO afkzone;

--
-- Name: admin_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: afkzone
--

ALTER SEQUENCE public.admin_users_id_seq OWNED BY public.admin_users.id;


--
-- Name: app_versions; Type: TABLE; Schema: public; Owner: afkzone
--

CREATE TABLE public.app_versions (
    id integer NOT NULL,
    version character varying(20) NOT NULL,
    build_number integer NOT NULL,
    download_url text NOT NULL,
    changelog text,
    force_update boolean DEFAULT false,
    is_latest boolean DEFAULT false,
    released_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.app_versions OWNER TO afkzone;

--
-- Name: app_versions_id_seq; Type: SEQUENCE; Schema: public; Owner: afkzone
--

CREATE SEQUENCE public.app_versions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.app_versions_id_seq OWNER TO afkzone;

--
-- Name: app_versions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: afkzone
--

ALTER SEQUENCE public.app_versions_id_seq OWNED BY public.app_versions.id;


--
-- Name: bank_orders; Type: TABLE; Schema: public; Owner: afkzone
--

CREATE TABLE public.bank_orders (
    id integer NOT NULL,
    trans_code character varying(50) NOT NULL,
    device_id character varying(255) NOT NULL,
    tier character varying(20) NOT NULL,
    duration_days integer NOT NULL,
    amount integer NOT NULL,
    bank_account character varying(50) NOT NULL,
    qr_url text,
    status character varying(20) DEFAULT 'pending'::character varying,
    license_key character varying(50),
    bank_tid character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    paid_at timestamp without time zone,
    CONSTRAINT fk_status CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'success'::character varying, 'failed'::character varying, 'expired'::character varying])::text[])))
);


ALTER TABLE public.bank_orders OWNER TO afkzone;

--
-- Name: bank_orders_id_seq; Type: SEQUENCE; Schema: public; Owner: afkzone
--

CREATE SEQUENCE public.bank_orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.bank_orders_id_seq OWNER TO afkzone;

--
-- Name: bank_orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: afkzone
--

ALTER SEQUENCE public.bank_orders_id_seq OWNED BY public.bank_orders.id;


--
-- Name: connection_logs; Type: TABLE; Schema: public; Owner: afkzone
--

CREATE TABLE public.connection_logs (
    id integer NOT NULL,
    device_id text NOT NULL,
    remote_id text,
    action text DEFAULT 'connect'::text,
    ip_address text,
    connected_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    disconnected_at timestamp without time zone,
    duration_seconds integer DEFAULT 0,
    license_key text,
    peer_id text,
    connection_type text DEFAULT 'remote'::text
);


ALTER TABLE public.connection_logs OWNER TO afkzone;

--
-- Name: connection_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: afkzone
--

CREATE SEQUENCE public.connection_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.connection_logs_id_seq OWNER TO afkzone;

--
-- Name: connection_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: afkzone
--

ALTER SEQUENCE public.connection_logs_id_seq OWNED BY public.connection_logs.id;


--
-- Name: device_heartbeats; Type: TABLE; Schema: public; Owner: afkzone
--

CREATE TABLE public.device_heartbeats (
    id integer NOT NULL,
    device_id character varying(255) NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    app_version character varying(50),
    license_status character varying(50)
);


ALTER TABLE public.device_heartbeats OWNER TO afkzone;

--
-- Name: device_heartbeats_id_seq; Type: SEQUENCE; Schema: public; Owner: afkzone
--

CREATE SEQUENCE public.device_heartbeats_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.device_heartbeats_id_seq OWNER TO afkzone;

--
-- Name: device_heartbeats_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: afkzone
--

ALTER SEQUENCE public.device_heartbeats_id_seq OWNED BY public.device_heartbeats.id;


--
-- Name: devices; Type: TABLE; Schema: public; Owner: afkzone
--

CREATE TABLE public.devices (
    id integer NOT NULL,
    device_id character varying(255) NOT NULL,
    device_fingerprint character varying(255) NOT NULL,
    device_model character varying(255),
    os_version character varying(100),
    app_version character varying(50),
    first_seen timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_seen timestamp without time zone,
    last_ip character varying(45),
    license_key character varying(255),
    license_status character varying(50),
    license_tier character varying(50),
    license_expires_at bigint,
    is_active boolean DEFAULT true,
    total_sessions integer DEFAULT 0
);


ALTER TABLE public.devices OWNER TO afkzone;

--
-- Name: devices_id_seq; Type: SEQUENCE; Schema: public; Owner: afkzone
--

CREATE SEQUENCE public.devices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.devices_id_seq OWNER TO afkzone;

--
-- Name: devices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: afkzone
--

ALTER SEQUENCE public.devices_id_seq OWNED BY public.devices.id;


--
-- Name: discount_codes; Type: TABLE; Schema: public; Owner: afkzone
--

CREATE TABLE public.discount_codes (
    id integer NOT NULL,
    code character varying(50) NOT NULL,
    discount_percent integer NOT NULL,
    valid_from timestamp without time zone NOT NULL,
    valid_to timestamp without time zone NOT NULL,
    max_uses integer,
    used_count integer DEFAULT 0,
    applicable_tiers jsonb,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.discount_codes OWNER TO afkzone;

--
-- Name: discount_codes_id_seq; Type: SEQUENCE; Schema: public; Owner: afkzone
--

CREATE SEQUENCE public.discount_codes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.discount_codes_id_seq OWNER TO afkzone;

--
-- Name: discount_codes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: afkzone
--

ALTER SEQUENCE public.discount_codes_id_seq OWNED BY public.discount_codes.id;


--
-- Name: fcm_tokens; Type: TABLE; Schema: public; Owner: afkzone
--

CREATE TABLE public.fcm_tokens (
    id integer NOT NULL,
    device_id character varying(100) NOT NULL,
    fcm_token character varying(200) NOT NULL,
    topics jsonb,
    last_updated timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.fcm_tokens OWNER TO afkzone;

--
-- Name: fcm_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: afkzone
--

CREATE SEQUENCE public.fcm_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.fcm_tokens_id_seq OWNER TO afkzone;

--
-- Name: fcm_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: afkzone
--

ALTER SEQUENCE public.fcm_tokens_id_seq OWNED BY public.fcm_tokens.id;


--
-- Name: license_devices; Type: TABLE; Schema: public; Owner: afkzone
--

CREATE TABLE public.license_devices (
    id integer NOT NULL,
    license_key character varying(255) NOT NULL,
    device_id character varying(255) NOT NULL,
    device_fingerprint character varying(255),
    activated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_check timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_active boolean DEFAULT true,
    device_name character varying(255),
    device_model character varying(255),
    os_version character varying(100),
    app_version character varying(50)
);


ALTER TABLE public.license_devices OWNER TO afkzone;

--
-- Name: license_devices_id_seq; Type: SEQUENCE; Schema: public; Owner: afkzone
--

CREATE SEQUENCE public.license_devices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.license_devices_id_seq OWNER TO afkzone;

--
-- Name: license_devices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: afkzone
--

ALTER SEQUENCE public.license_devices_id_seq OWNED BY public.license_devices.id;


--
-- Name: licenses; Type: TABLE; Schema: public; Owner: afkzone
--

CREATE TABLE public.licenses (
    id integer NOT NULL,
    license_key character varying(50) NOT NULL,
    tier character varying(20) NOT NULL,
    duration_days integer NOT NULL,
    activated_at timestamp without time zone,
    expires_at timestamp without time zone,
    device_id character varying(100),
    device_fingerprint character varying(64),
    last_check timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    is_trial boolean DEFAULT false,
    is_active boolean DEFAULT true,
    revoked_at timestamp without time zone,
    max_devices integer DEFAULT 1,
    is_revoked boolean DEFAULT false,
    revoked_reason text,
    created_by character varying(50) DEFAULT 'system'::character varying,
    notes text,
    CONSTRAINT licenses_tier_check CHECK (((tier)::text = ANY ((ARRAY['basic'::character varying, 'pro'::character varying, 'enterprise'::character varying])::text[])))
);


ALTER TABLE public.licenses OWNER TO afkzone;

--
-- Name: licenses_id_seq; Type: SEQUENCE; Schema: public; Owner: afkzone
--

CREATE SEQUENCE public.licenses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.licenses_id_seq OWNER TO afkzone;

--
-- Name: licenses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: afkzone
--

ALTER SEQUENCE public.licenses_id_seq OWNED BY public.licenses.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: afkzone
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    title character varying(200) NOT NULL,
    body text NOT NULL,
    target_type character varying(20) NOT NULL,
    target_value character varying(100),
    scheduled_at timestamp without time zone,
    sent_at timestamp without time zone,
    delivery_count integer DEFAULT 0,
    created_by character varying(50),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT notifications_target_type_check CHECK (((target_type)::text = ANY ((ARRAY['all'::character varying, 'trial'::character varying, 'premium'::character varying, 'device'::character varying])::text[])))
);


ALTER TABLE public.notifications OWNER TO afkzone;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: afkzone
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.notifications_id_seq OWNER TO afkzone;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: afkzone
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: afkzone
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    order_id character varying(50) NOT NULL,
    device_id character varying(100) NOT NULL,
    device_fingerprint character varying(64),
    tier character varying(20) NOT NULL,
    duration_days integer NOT NULL,
    amount integer NOT NULL,
    payment_method character varying(20) DEFAULT 'zalopay'::character varying,
    payment_status character varying(20) DEFAULT 'pending'::character varying,
    zp_trans_token character varying(100),
    zp_order_url text,
    paid_at timestamp without time zone,
    license_key character varying(50),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT orders_payment_status_check CHECK (((payment_status)::text = ANY ((ARRAY['pending'::character varying, 'success'::character varying, 'failed'::character varying, 'cancelled'::character varying])::text[])))
);


ALTER TABLE public.orders OWNER TO afkzone;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: afkzone
--

CREATE SEQUENCE public.orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.orders_id_seq OWNER TO afkzone;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: afkzone
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: pricing; Type: TABLE; Schema: public; Owner: afkzone
--

CREATE TABLE public.pricing (
    id integer NOT NULL,
    tier character varying(20) NOT NULL,
    duration_days integer NOT NULL,
    price integer NOT NULL,
    discount_percent integer DEFAULT 0,
    is_active boolean DEFAULT true,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.pricing OWNER TO afkzone;

--
-- Name: pricing_id_seq; Type: SEQUENCE; Schema: public; Owner: afkzone
--

CREATE SEQUENCE public.pricing_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pricing_id_seq OWNER TO afkzone;

--
-- Name: pricing_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: afkzone
--

ALTER SEQUENCE public.pricing_id_seq OWNED BY public.pricing.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: afkzone
--

CREATE TABLE public.products (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    tier character varying(50) NOT NULL,
    duration_days integer NOT NULL,
    price integer NOT NULL,
    max_devices integer DEFAULT 1,
    is_active boolean DEFAULT true,
    display_order integer DEFAULT 0,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.products OWNER TO afkzone;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: afkzone
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.products_id_seq OWNER TO afkzone;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: afkzone
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: server_stats; Type: TABLE; Schema: public; Owner: afkzone
--

CREATE TABLE public.server_stats (
    id integer NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    total_connections integer DEFAULT 0,
    active_connections integer DEFAULT 0,
    bandwidth_in_mbps double precision DEFAULT 0,
    bandwidth_out_mbps double precision DEFAULT 0,
    cpu_usage_percent double precision,
    memory_usage_mb integer
);


ALTER TABLE public.server_stats OWNER TO afkzone;

--
-- Name: server_stats_id_seq; Type: SEQUENCE; Schema: public; Owner: afkzone
--

CREATE SEQUENCE public.server_stats_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.server_stats_id_seq OWNER TO afkzone;

--
-- Name: server_stats_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: afkzone
--

ALTER SEQUENCE public.server_stats_id_seq OWNED BY public.server_stats.id;


--
-- Name: telemetry_crashes; Type: TABLE; Schema: public; Owner: afkzone
--

CREATE TABLE public.telemetry_crashes (
    id integer NOT NULL,
    device_id character varying(100) NOT NULL,
    app_version character varying(20) NOT NULL,
    crash_message text,
    stack_trace text,
    device_info jsonb,
    occurred_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.telemetry_crashes OWNER TO afkzone;

--
-- Name: telemetry_crashes_id_seq; Type: SEQUENCE; Schema: public; Owner: afkzone
--

CREATE SEQUENCE public.telemetry_crashes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.telemetry_crashes_id_seq OWNER TO afkzone;

--
-- Name: telemetry_crashes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: afkzone
--

ALTER SEQUENCE public.telemetry_crashes_id_seq OWNED BY public.telemetry_crashes.id;


--
-- Name: telemetry_sessions; Type: TABLE; Schema: public; Owner: afkzone
--

CREATE TABLE public.telemetry_sessions (
    id integer NOT NULL,
    device_id character varying(100) NOT NULL,
    license_key character varying(50),
    session_start timestamp without time zone NOT NULL,
    session_end timestamp without time zone,
    duration_seconds integer,
    remote_device_id character varying(50),
    connection_quality character varying(20),
    avg_ping_ms integer,
    packet_loss_percent numeric(5,2),
    features_used jsonb,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.telemetry_sessions OWNER TO afkzone;

--
-- Name: telemetry_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: afkzone
--

CREATE SEQUENCE public.telemetry_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.telemetry_sessions_id_seq OWNER TO afkzone;

--
-- Name: telemetry_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: afkzone
--

ALTER SEQUENCE public.telemetry_sessions_id_seq OWNED BY public.telemetry_sessions.id;


--
-- Name: tiers; Type: TABLE; Schema: public; Owner: afkzone
--

CREATE TABLE public.tiers (
    id integer NOT NULL,
    tier_key character varying(50) NOT NULL,
    tier_name character varying(100) NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    display_order integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.tiers OWNER TO afkzone;

--
-- Name: tiers_id_seq; Type: SEQUENCE; Schema: public; Owner: afkzone
--

CREATE SEQUENCE public.tiers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tiers_id_seq OWNER TO afkzone;

--
-- Name: tiers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: afkzone
--

ALTER SEQUENCE public.tiers_id_seq OWNED BY public.tiers.id;


--
-- Name: trial_devices; Type: TABLE; Schema: public; Owner: afkzone
--

CREATE TABLE public.trial_devices (
    id integer NOT NULL,
    device_fingerprint character varying(64) NOT NULL,
    ip_address character varying(45),
    license_key character varying(50),
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.trial_devices OWNER TO afkzone;

--
-- Name: trial_devices_id_seq; Type: SEQUENCE; Schema: public; Owner: afkzone
--

CREATE SEQUENCE public.trial_devices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.trial_devices_id_seq OWNER TO afkzone;

--
-- Name: trial_devices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: afkzone
--

ALTER SEQUENCE public.trial_devices_id_seq OWNED BY public.trial_devices.id;


--
-- Name: admin_notifications id; Type: DEFAULT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.admin_notifications ALTER COLUMN id SET DEFAULT nextval('public.admin_notifications_id_seq'::regclass);


--
-- Name: admin_users id; Type: DEFAULT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.admin_users ALTER COLUMN id SET DEFAULT nextval('public.admin_users_id_seq'::regclass);


--
-- Name: app_versions id; Type: DEFAULT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.app_versions ALTER COLUMN id SET DEFAULT nextval('public.app_versions_id_seq'::regclass);


--
-- Name: bank_orders id; Type: DEFAULT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.bank_orders ALTER COLUMN id SET DEFAULT nextval('public.bank_orders_id_seq'::regclass);


--
-- Name: connection_logs id; Type: DEFAULT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.connection_logs ALTER COLUMN id SET DEFAULT nextval('public.connection_logs_id_seq'::regclass);


--
-- Name: device_heartbeats id; Type: DEFAULT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.device_heartbeats ALTER COLUMN id SET DEFAULT nextval('public.device_heartbeats_id_seq'::regclass);


--
-- Name: devices id; Type: DEFAULT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.devices ALTER COLUMN id SET DEFAULT nextval('public.devices_id_seq'::regclass);


--
-- Name: discount_codes id; Type: DEFAULT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.discount_codes ALTER COLUMN id SET DEFAULT nextval('public.discount_codes_id_seq'::regclass);


--
-- Name: fcm_tokens id; Type: DEFAULT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.fcm_tokens ALTER COLUMN id SET DEFAULT nextval('public.fcm_tokens_id_seq'::regclass);


--
-- Name: license_devices id; Type: DEFAULT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.license_devices ALTER COLUMN id SET DEFAULT nextval('public.license_devices_id_seq'::regclass);


--
-- Name: licenses id; Type: DEFAULT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.licenses ALTER COLUMN id SET DEFAULT nextval('public.licenses_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: pricing id; Type: DEFAULT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.pricing ALTER COLUMN id SET DEFAULT nextval('public.pricing_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: server_stats id; Type: DEFAULT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.server_stats ALTER COLUMN id SET DEFAULT nextval('public.server_stats_id_seq'::regclass);


--
-- Name: telemetry_crashes id; Type: DEFAULT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.telemetry_crashes ALTER COLUMN id SET DEFAULT nextval('public.telemetry_crashes_id_seq'::regclass);


--
-- Name: telemetry_sessions id; Type: DEFAULT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.telemetry_sessions ALTER COLUMN id SET DEFAULT nextval('public.telemetry_sessions_id_seq'::regclass);


--
-- Name: tiers id; Type: DEFAULT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.tiers ALTER COLUMN id SET DEFAULT nextval('public.tiers_id_seq'::regclass);


--
-- Name: trial_devices id; Type: DEFAULT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.trial_devices ALTER COLUMN id SET DEFAULT nextval('public.trial_devices_id_seq'::regclass);


--
-- Name: admin_notifications admin_notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.admin_notifications
    ADD CONSTRAINT admin_notifications_pkey PRIMARY KEY (id);


--
-- Name: admin_users admin_users_pkey; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_pkey PRIMARY KEY (id);


--
-- Name: admin_users admin_users_username_key; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_username_key UNIQUE (username);


--
-- Name: app_versions app_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.app_versions
    ADD CONSTRAINT app_versions_pkey PRIMARY KEY (id);


--
-- Name: app_versions app_versions_version_key; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.app_versions
    ADD CONSTRAINT app_versions_version_key UNIQUE (version);


--
-- Name: bank_orders bank_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.bank_orders
    ADD CONSTRAINT bank_orders_pkey PRIMARY KEY (id);


--
-- Name: bank_orders bank_orders_trans_code_key; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.bank_orders
    ADD CONSTRAINT bank_orders_trans_code_key UNIQUE (trans_code);


--
-- Name: connection_logs connection_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.connection_logs
    ADD CONSTRAINT connection_logs_pkey PRIMARY KEY (id);


--
-- Name: device_heartbeats device_heartbeats_pkey; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.device_heartbeats
    ADD CONSTRAINT device_heartbeats_pkey PRIMARY KEY (id);


--
-- Name: devices devices_device_fingerprint_key; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_device_fingerprint_key UNIQUE (device_fingerprint);


--
-- Name: devices devices_device_id_key; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_device_id_key UNIQUE (device_id);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (id);


--
-- Name: discount_codes discount_codes_code_key; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.discount_codes
    ADD CONSTRAINT discount_codes_code_key UNIQUE (code);


--
-- Name: discount_codes discount_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.discount_codes
    ADD CONSTRAINT discount_codes_pkey PRIMARY KEY (id);


--
-- Name: fcm_tokens fcm_tokens_device_id_key; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.fcm_tokens
    ADD CONSTRAINT fcm_tokens_device_id_key UNIQUE (device_id);


--
-- Name: fcm_tokens fcm_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.fcm_tokens
    ADD CONSTRAINT fcm_tokens_pkey PRIMARY KEY (id);


--
-- Name: license_devices license_devices_license_key_device_id_key; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.license_devices
    ADD CONSTRAINT license_devices_license_key_device_id_key UNIQUE (license_key, device_id);


--
-- Name: license_devices license_devices_pkey; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.license_devices
    ADD CONSTRAINT license_devices_pkey PRIMARY KEY (id);


--
-- Name: licenses licenses_license_key_key; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_license_key_key UNIQUE (license_key);


--
-- Name: licenses licenses_pkey; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: orders orders_order_id_key; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_order_id_key UNIQUE (order_id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: pricing pricing_pkey; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.pricing
    ADD CONSTRAINT pricing_pkey PRIMARY KEY (id);


--
-- Name: pricing pricing_tier_duration_days_key; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.pricing
    ADD CONSTRAINT pricing_tier_duration_days_key UNIQUE (tier, duration_days);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: server_stats server_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.server_stats
    ADD CONSTRAINT server_stats_pkey PRIMARY KEY (id);


--
-- Name: telemetry_crashes telemetry_crashes_pkey; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.telemetry_crashes
    ADD CONSTRAINT telemetry_crashes_pkey PRIMARY KEY (id);


--
-- Name: telemetry_sessions telemetry_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.telemetry_sessions
    ADD CONSTRAINT telemetry_sessions_pkey PRIMARY KEY (id);


--
-- Name: tiers tiers_pkey; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.tiers
    ADD CONSTRAINT tiers_pkey PRIMARY KEY (id);


--
-- Name: tiers tiers_tier_key_key; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.tiers
    ADD CONSTRAINT tiers_tier_key_key UNIQUE (tier_key);


--
-- Name: trial_devices trial_devices_device_fingerprint_key; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.trial_devices
    ADD CONSTRAINT trial_devices_device_fingerprint_key UNIQUE (device_fingerprint);


--
-- Name: trial_devices trial_devices_pkey; Type: CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.trial_devices
    ADD CONSTRAINT trial_devices_pkey PRIMARY KEY (id);


--
-- Name: idx_admin_username; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_admin_username ON public.admin_users USING btree (username);


--
-- Name: idx_bank_orders_device_id; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_bank_orders_device_id ON public.bank_orders USING btree (device_id);


--
-- Name: idx_bank_orders_status; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_bank_orders_status ON public.bank_orders USING btree (status);


--
-- Name: idx_bank_orders_trans_code; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_bank_orders_trans_code ON public.bank_orders USING btree (trans_code);


--
-- Name: idx_cl_connected; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_cl_connected ON public.connection_logs USING btree (connected_at);


--
-- Name: idx_cl_device; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_cl_device ON public.connection_logs USING btree (device_id);


--
-- Name: idx_crashes_app_version; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_crashes_app_version ON public.telemetry_crashes USING btree (app_version);


--
-- Name: idx_crashes_device_id; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_crashes_device_id ON public.telemetry_crashes USING btree (device_id);


--
-- Name: idx_devices_device_id; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_devices_device_id ON public.devices USING btree (device_id);


--
-- Name: idx_devices_last_seen; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_devices_last_seen ON public.devices USING btree (last_seen);


--
-- Name: idx_devices_license_status; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_devices_license_status ON public.devices USING btree (license_status);


--
-- Name: idx_discount_code; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_discount_code ON public.discount_codes USING btree (code);


--
-- Name: idx_fcm_device_id; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_fcm_device_id ON public.fcm_tokens USING btree (device_id);


--
-- Name: idx_heartbeats_device_timestamp; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_heartbeats_device_timestamp ON public.device_heartbeats USING btree (device_id, "timestamp");


--
-- Name: idx_license_devices_device; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_license_devices_device ON public.license_devices USING btree (device_id);


--
-- Name: idx_license_devices_key; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_license_devices_key ON public.license_devices USING btree (license_key);


--
-- Name: idx_licenses_created_at; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_licenses_created_at ON public.licenses USING btree (created_at);


--
-- Name: idx_licenses_device_id; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_licenses_device_id ON public.licenses USING btree (device_id);


--
-- Name: idx_licenses_expires_at; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_licenses_expires_at ON public.licenses USING btree (expires_at);


--
-- Name: idx_licenses_fingerprint; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_licenses_fingerprint ON public.licenses USING btree (device_fingerprint);


--
-- Name: idx_licenses_license_key; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_licenses_license_key ON public.licenses USING btree (license_key);


--
-- Name: idx_licenses_tier; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_licenses_tier ON public.licenses USING btree (tier);


--
-- Name: idx_notifications_active; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_notifications_active ON public.admin_notifications USING btree (is_active);


--
-- Name: idx_notifications_expires; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_notifications_expires ON public.admin_notifications USING btree (expires_at);


--
-- Name: idx_notifications_sent_at; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_notifications_sent_at ON public.notifications USING btree (sent_at);


--
-- Name: idx_notifications_target_type; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_notifications_target_type ON public.notifications USING btree (target_type);


--
-- Name: idx_orders_device_id; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_orders_device_id ON public.orders USING btree (device_id);


--
-- Name: idx_orders_order_id; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_orders_order_id ON public.orders USING btree (order_id);


--
-- Name: idx_orders_payment_status; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_orders_payment_status ON public.orders USING btree (payment_status);


--
-- Name: idx_products_active; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_products_active ON public.products USING btree (is_active);


--
-- Name: idx_products_tier; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_products_tier ON public.products USING btree (tier);


--
-- Name: idx_server_stats_timestamp; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_server_stats_timestamp ON public.server_stats USING btree ("timestamp");


--
-- Name: idx_telemetry_device_id; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_telemetry_device_id ON public.telemetry_sessions USING btree (device_id);


--
-- Name: idx_telemetry_session_start; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_telemetry_session_start ON public.telemetry_sessions USING btree (session_start);


--
-- Name: idx_trial_fingerprint; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_trial_fingerprint ON public.trial_devices USING btree (device_fingerprint);


--
-- Name: idx_versions_version; Type: INDEX; Schema: public; Owner: afkzone
--

CREATE INDEX idx_versions_version ON public.app_versions USING btree (version);


--
-- Name: orders orders_license_key_fkey; Type: FK CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_license_key_fkey FOREIGN KEY (license_key) REFERENCES public.licenses(license_key);


--
-- Name: trial_devices trial_devices_license_key_fkey; Type: FK CONSTRAINT; Schema: public; Owner: afkzone
--

ALTER TABLE ONLY public.trial_devices
    ADD CONSTRAINT trial_devices_license_key_fkey FOREIGN KEY (license_key) REFERENCES public.licenses(license_key);


--
-- PostgreSQL database dump complete
--

\unrestrict aPS6uX4oEViH8RJrOisa7yJ8qGnVrMGnW2NFz6LrI4fc3e6NptsXRXoWO7mzRM0

