openapi: 3.0.0
info:
  title: AFK Zone License API
  version: 2.2.62
  description: Account-based licensing API for AFK Zone

servers:
  - url: https://api.afkzone.cloud
    description: Production

paths:
  # ==================== USER AUTHENTICATION ====================
  /auth/register:
    post:
      summary: Register new user
      tags: [User Auth]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string }
                password: { type: string }
                name: { type: string }
      responses:
        200:
          description: Registration successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  user_id: { type: integer }
                  email: { type: string }
                  token: { type: string }
        400:
          description: Email already registered

  /auth/login:
    post:
      summary: Login with email/password
      tags: [User Auth]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string }
                password: { type: string }
      responses:
        200:
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  user_id: { type: integer }
                  email: { type: string }
                  name: { type: string }
                  token: { type: string }
        401:
          description: Invalid credentials

  /auth/me:
    get:
      summary: Get current user info
      tags: [User Auth]
      security: [{ bearerAuth: [] }]
      responses:
        200:
          description: User info
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id: { type: integer }
                  email: { type: string }
                  name: { type: string }
                  created_at: { type: string }
                  last_login: { type: string }

  # ==================== USER LICENSES ====================
  /user/licenses:
    get:
      summary: Get user's licenses with slot info
      tags: [User Licenses]
      security: [{ bearerAuth: [] }]
      responses:
        200:
          description: List of licenses
          content:
            application/json:
              schema:
                type: object
                properties:
                  licenses:
                    type: array
                    items:
                      type: object
                      properties:
                        license_key: { type: string }
                        tier: { type: string }
                        duration_days: { type: integer }
                        expires_at: { type: string }
                        status: { type: string, enum: [active, inactive, expired] }
                        devices_max: { type: integer }
                        devices_used: { type: integer }

  /user/activation-history:
    get:
      summary: Get activation history for device
      tags: [User Licenses]
      security: [{ bearerAuth: [] }]
      parameters:
        - name: device_id
          in: query
          required: true
          schema: { type: string }
      responses:
        200:
          description: Activation history
          content:
            application/json:
              schema:
                type: object
                properties:
                  device_id: { type: string }
                  activations:
                    type: array
                    items:
                      type: object
                      properties:
                        license_key: { type: string }
                        tier: { type: string }
                        expires_at: { type: string }
                        activated_at: { type: string }
                        devices_max: { type: integer }
                        devices_used: { type: integer }
                        status: { type: string }

  # ==================== USER DEVICES ====================
  /user/devices:
    get:
      summary: Get user's activated devices
      tags: [User Devices]
      security: [{ bearerAuth: [] }]
      responses:
        200:
          description: List of devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      type: object
                      properties:
                        device_id: { type: string }
                        alias: { type: string }
                        last_seen: { type: string }
                        activated_at: { type: string }
                        license_key: { type: string }
                        tier: { type: string }

  /user/devices/{device_id}/clear:
    delete:
      summary: Clear/kick device from license
      tags: [User Devices]
      security: [{ bearerAuth: [] }]
      parameters:
        - name: device_id
          in: path
          required: true
          schema: { type: string }
      responses:
        200:
          description: Device removed
        404:
          description: Device not found

  /user/devices/{device_id}/alias:
    patch:
      summary: Update device alias
      tags: [User Devices]
      security: [{ bearerAuth: [] }]
      parameters:
        - name: device_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                alias: { type: string }
      responses:
        200:
          description: Alias updated

  # ==================== PRODUCTS ====================
  /products:
    get:
      summary: Get products with tier colors
      tags: [Products]
      parameters:
        - name: active_only
          in: query
          schema: { type: boolean, default: true }
      responses:
        200:
          description: Product list
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: integer }
                        name: { type: string }
                        tier: { type: string }
                        duration_days: { type: integer }
                        price: { type: integer }
                        display_price: { type: string }
                        color_hex: { type: string }

  /public/regions:
    get:
      summary: Get available regions
      tags: [Public]
      responses:
        200:
          description: Region list with display_name

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
